<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: 
Ngo Quang Khai
Phan Tran Minh Toan
Nguyen Kim Anh
Hyeonseok Kang
Oriol Mole Teiga
ID: 
Ngo Quang Khai  (s3975831)              
Phan Tran Minh Toan (s3963231)
Nguyen Kim Anh (s3939240)
Hyeonseok Kang (s3963294)
Oriol Mole Teiga (s3979344)
Acknowledgement: Boostrap v5.0+, ExpressJS, NodeJS, MongoDB, Ejs, Bcrypt, Multer, Express-session, Connect-Mongo -->



    <div class="container bg-light mt-5">
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col-md-3 col justify-content-center">
          <img src="images/AcneStudios_Logo.png" style="height: 8rem; width: auto;" alt="Vendor Logo"/>
          <h2>Acne Studio</h2>
        </div>
        <div class="col-md-6 col">
          <p><i class="fa-solid fa-box-archive"></i> Products: 2k</p>
          <p><i class="fa-solid fa-user-plus"></i> Followers: 10k</p>
          <p><i class="fa-solid fa-user"></i> Member since: 2015</p>
          <p><i class="fa-solid fa-star"></i> Rating: 4.7</p>
        </div>
        <div class="col-md-3 col">
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button"> <i class="fa-solid fa-plus"></i> Follow</button>
            <button class="btn btn-primary" type="button"><i class="fa-regular fa-comments"></i> Chat</button>
          </div>
      </div>
    </div>

    <div class="container align-items-center justify-content-center mt-5">
        <div class="row p-4 g-5 bg-gradient">
            <h5>Tops</h5>
        </div>
        <div class="row row-cols-lg-4 row-cols-2 gx-5">
            <% creatorProduct.forEach(function(product){ %>
                <% if (product.category == "Tops") { %>
                    <div class="col">
                        <div class="col product-card" data-price="<%= product.price %>">
                            <div class="card">
                                <a href="/product/<%= product._id %>"><img src="/images/<%= product.image.data.toString('ascii') %>" class="card-img-top" alt="Product Image"></a>
                                <div class="card-body">
                                    <h5 class="card-title"><%= product.name %></h5>
                                    <p class="card-text">Created by: <%= product.creator %></p>
                                    <p class="card-price">Price: $<%= product.price %></p>
                                    <a href="/add-to-cart/<%= product._id %>" class="margin-button btn btn-primary">Add to Cart</a>
                                    <button class="btn btn-success">Buy Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }) %>
        </div>
        <div class="row p-4 g-5 bg-gradient">
            <h5>Pants</h5>
        </div>
        <div class="row row-cols-6 gx-5">
            <% creatorProduct.forEach(function(product){ %>
                <% if (product.category == "Pants") { %>
                    <div class="col">
                        <div class="col-lg-4 col-md-6 col-sm-12 product-card" data-price="<%= product.price %>">
                            <div class="card">
                                <a href="/product/<%= product._id %>"><img src="/images/<%= product.image.data.toString('ascii') %>" class="card-img-top" alt="<%= product.name %>"></a>
                                <div class="card-body">
                                    <h5 class="card-title"><%= product.name %></h5>
                                    <p class="card-text">Created by: <%= product.creator %></p>
                                    <p class="card-price">Price: $<%= product.price %></p>
                                    <a href="/add-to-cart/<%= product._id %>" class="margin-button btn btn-primary">Add to Cart</a>
                                    <button class="btn btn-success">Buy Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }) %>
        </div>
    </div>