<div class="container mt-5">
    <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1 g-3 p-2">
        <% products.forEach(function(product){ %>
          <div class="col">
            <div class="card border-black">
              <div class="card-product-image mx-auto mb-2">
                <img 
                src="/images/<%= product.image.data.toString('ascii') %>"
                class="card-img-top justify-self-center m-0 p-0" alt="product image" >
              </div>
              <div class="card-body">
                    <h5 class="card-title"><%= product.name %></h5>
                    <p class="card-text"><%= product.descrip %></p>
                    <p class="fst-italic mb-3" style="font-size: 1rem; opacity: 75%;">Created by: <%= product.creator %></p>
                    <div class="card-text d-flex align-items-center mb-2">
                        <p class="gender m-0">Gender:&nbsp;</p>
                        <p class="genders m-0"><%= product.gender %></p>
                    </div>
                    <div class="card-text d-flex align-items-center mb-2">
                        <p class="sizes m-0">Size:&nbsp;</p>
                        <p class="variants m-0"><%= product.size %></p>
                    </div>
                    <div class="card-text d-flex align-items-center mb-3">
                        <p class="prices m-0">Price:&nbsp;</p>
                        <p class="money m-0"><%= product.price %></p>
                    </div>
                    <div class="card-text d-flex align-items-center mb-3">
                        <p class="prices m-0">Category:&nbsp;</p>
                        <p class="money m-0"><%= product.category %></p>
                    </div>
                    <div class="row row-col-2">
                        <a href="/<%= product.id %>/add-to-cart" class="col btn btn-primary mx-1">Add</a>
                        <a href="/<%= product.id %>/buy-now" class="col btn btn-primary mx-1">Buy now</a>
                    </div>
                </div>
            </div>
          </div>
        <% }) %>
    </div>
</div>
