<%- include('partials/head'); %>
<body class="bg-secondary bg-opacity-25">
    <%- include('partials/body-header-user'); %>
    <%- include('partials/body-content-vendors'); %>
    <%- include('partials/body-scripts') %>
    <%- include('partials/body-footer') %>
</body>
</html>