<%- include('partials/head'); %>
<body class="bg-secondary bg-opacity-25">
    <%- include('partials/body-header-user') %>
    <%- include('partials/body-content-vendoronly') %>
    <%- include('partials/body-footer') %>
    <%- include('partials/body-scripts') %>
</body>
</html>